<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div class="form-vertical" [formGroup]="formGroup">

        <mat-form-field appearance="fill">
            <mat-label>Tipo Identificación</mat-label>
            <mat-select formControlName="tipo_identificacion_id">
                <mat-option *ngFor="let identificacion of arrayIdentificacion"
                    [value]="identificacion.tipo_identifcacion_id">
                    {{identificacion.tipo_identifacion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="# Identificación" formControlName="numero_identificacion">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Primer Nombre" formControlName="nombre1">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Segundo Nombre" formControlName="nombre2">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Primer Apellido" formControlName="apellido1">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Segundo Apellido" formControlName="appellido2">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Tipo Tercero" formControlName="tipo_tercero_id">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo Tercero</mat-label>
            <mat-select formControlName="tipo_tercero_id">
                <mat-option *ngFor="let tercero of arrayTerceros" [value]="tercero.tipo_tercero_id">
                    {{tercero.tipo_tercero}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Departamento" formControlName="departamento_id">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Ciudad" formControlName="ciudad_id">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Tipo Contribuyente" formControlName="tipo_contribuyente">
        </mat-form-field>


    </div>
</div>
<div mat-dialog-actions class="botones">
    <button mat-button (click)="dialogRef.close(false)">
        <mat-icon>arrow_back</mat-icon> Volver
    </button>
    <button mat-button color="primary" *ngIf="formGroup.valid" (click)="submit()">
        <mat-icon>check</mat-icon> Aceptar
    </button>
</div>