<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div class="form-vertical" [formGroup]="formGroup">

        <mat-form-field appearance="fill">
            <mat-label>Tipo Identificación</mat-label>
            <mat-select formControlName="tipo_identificacion_id">
                <mat-option *ngFor="let identificacion of arrayIdentificacion"
                    [value]="identificacion.tipo_identificacion_id">
                    {{identificacion.tipo_identificacion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="# Identificación" formControlName="numero_identificacion">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Primer Nombre" formControlName="nombre1">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Segundo Nombre" formControlName="nombre2">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Primer Apellido" formControlName="apellido1">
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput #filter placeholder="Segundo Apellido" formControlName="appellido2">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo Tercero</mat-label>
            <mat-select formControlName="tipo_tercero_id">
                <mat-option *ngFor="let tercero of arrayTerceros" [value]="tercero.tipo_tercero_id">
                    {{tercero.tipo_tercero}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Departamentos</mat-label>
            <mat-select formControlName="departamento_id">
                <mat-option *ngFor="let depto of arrayDeptos" [value]="depto.departamento_id">
                    {{depto.departamento}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="ciudad_id">
                <mat-option *ngFor="let municipio of arrayMunicipios" [value]="municipio.ciudad_id">
                    {{municipio.ciudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo Contribuyente</mat-label>
            <mat-select formControlName="tipo_contribuyente">
                <mat-option *ngFor="let contribuyente of arrayContribuyente"
                    [value]="contribuyente.tipo_contribuyente_id">
                    {{contribuyente.tipo_contribuyente}}
                </mat-option>
            </mat-select>
        </mat-form-field>


    </div>
</div>
<div mat-dialog-actions class="botones">
    <button mat-button (click)="dialogRef.close(false)">
        <mat-icon>arrow_back</mat-icon> Volver
    </button>
    <button mat-button color="primary" *ngIf="formGroup.valid" (click)="submit()">
        <mat-icon>check</mat-icon> Aceptar
    </button>
</div>