<div class="table-container ml-05 mr-05 mt-05 pb-1">

    <div class="header">

        <div class="actions text-center">
            <button (click)="onPopUpTerceros(null, true)" mat-mini-fab type="button" color="primary"
                matTooltip="Añadir">
                <mat-icon>add</mat-icon>
            </button>

        </div>
    </div>


    <div class="mat-elevation-z8">
        <div class="table-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [diameter]="70" *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <mat-table #table class="datatable" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="departamento">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.departamento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="municipio">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.municipio}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo_identifacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Identificación </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.tipo_identifacion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="identificacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.identificacion|number}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombres">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.nombres}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo_tercero">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Tercero </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.tipo_tercero}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="BOTONES">
                <mat-header-cell *matHeaderCellDef> Acciones disponibles </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <button mat-icon-button color="primary" (click)="onPopUpTerceros(item, false)">
                        <mat-icon class="mat-icon-BOTONES">mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(item)">
                        <mat-icon class="mat-icon-BOTONES">delete_forever</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
</div>